* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: grid;
}

.up-banner {
    display: grid;
    padding: 5px;
    height: 70px;
    background-color: yellow;
}

.up-banner h4 {
    place-self: center;
}

.welcome-part {
    display: grid;
    background-color: #1abc9c;
    height: 200px;
    color: white;
}

.welcome-part h1 {
    padding: 10px;
    place-self: end center;
}

.welcome-part p {
    place-self: start center;
}


nav {
    display: grid;
    place-content: center start;
    height: 50px;
    gap: 20px;
    background-color: #333;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
}


.nav-element  {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
}


.nav-element:hover {
    background-color: white;
    color: #333;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

main p {
    font-size: 16px;
}

/* settings for boths - aside and main */

#aside, #main-part {
    display: grid;
    padding: 20px;
}



.blog-first-part, .blog-second-part{
    display: grid;
    gap: 30px;
}


/* aside part */
#aside {
    display: grid;
    background-color: #f1f1f1;
}

.aside-first, .aside-second {
    display: grid;
    height: 50%;
    gap: 30px;
}


.aside-up-img, .aside-bottom-img, .main-up-img {
    padding: 20px;
    background-color: #AAA;
}

.main-up-img, .aside-up-img {
    height: 200px;
}

.aside-bottom-img {
    height: 60px;
}

/* main part */

#main-part {
    background-color: white;
}

.blog-second-part {
    margin-top: 60px;
}

footer {
    display: grid;
    place-content:center ;
    height: 100px;
    background-color: #DDD;
    color: #000;
}

#contact {
    display: grid;
    place-content: center;
    margin-top: 50px;
    height: 100%;
    gap: 30px;
}

#contact h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
}

.contact-info i, .contact-info span {
    color: red;
}

.contact-info i {
    padding: 10px;
}

@media(max-width: 700px) {

    nav {
        height: 100%;
        place-content: center;
    }

    nav ul {
        display: grid;
        place-content: center;
        grid-template-columns: 1fr;
        width: 100vw;
    }  

    .nav-element {
        display: grid;
        padding: 15px;
        place-items: center;
        width: 100%;
    }

    main  {
        display: grid;
        grid-template-columns: 1fr;
    }

    .blog-first-part, .blog-second-part {
        margin-top: 30px;
    }
    
}
